@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* background-color: pink; */

  min-height: 100vh;
  height: -moz-available;
  height: -webkit-fill-available;
  height: 100dvh;
}

:root {
  --app-width: 100%;
  --app-height: 100vh;
  --viewport-width: 100%;
  --viewport-height: 100%;
  --inset-top: env(safe-area-inset-top);
  --inset-right: env(safe-area-inset-right);
  --inset-bottom: env(safe-area-inset-bottom);
  --inset-left: env(safe-area-inset-left);
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: SHLight;
}

button {
  -webkit-tap-highlight-color: transparent;
}
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progressLoadingBar {
  height: 100%;
  animation: translate-right-6 ease-in 2.25s infinite none;
  -webkit-animation: translate-right-6 ease-in 2.25s infinite none;
  -moz-animation: translate-right-6 ease-in 2.25s infinite none;
  -o-animation: translate-right-6 ease-in 2.25s infinite none;
}

.pit {
  padding-top: var(--inset-top);
  padding-bottom: var(--inset-bottom);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

